/* ----------------- */
/* 全体共通のスタイル */
/* ----------------- */
$font-color: #fff;
$background-color: #1f2124;
$main-color: #216b1d;

/* .btn-primaryの色を変更 */
.btn-primary {
  background: $background-color;
  color: $font-color;
  border-color: $font-color;
  &:hover {
    background: $font-color;
    color: $background-color;
    border-color: $font-color;
  }
}

body {
  background: $background-color;
  overflow-x: hidden;
}

/* ----------- */
/*   TopPage   */
/* ----------- */

/* Header */

.header {
  margin-bottom: 2rem;
  background-color: $main-color;
  height: 3rem;
  padding: 0 4rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .point {
    display: flex;
    .logo {
      justify-content: center;
      color: $main-color;
      text-align: center;
      line-height: 1rem;
      font-size: 0.8rem;
      height: 1rem;
      width: 1rem;
      background-color: #fff;
      border-radius: 4px;
    }
    p {
      color: $font-color;
      padding-left: 2px;
      line-height: 1rem;
      margin: 0;
    }
  }
  .title {
    margin: 0;
    color: $font-color;
  }
  .info-btn {
    font-size: 1rem;
    width: 1.5rem;
    height: 1.5rem;
    border-radius: 50%;
    border: none;
    line-height: 0; // 縦方向の中央寄せ
    background-color: $font-color;
  }
  .info-text {
    display: none;
    position: absolute;
    top: 3rem;
    right: 3rem;
    padding: 0.5rem;
    font-size: 12px;
    line-height: 1.6em;
    border-radius: 5px;
    background: #d2d2d2;
    width: 240px;
    z-index: 1;
    color: $background-color;
    .ttl {
      text-align: center;
    }
  }
  .info-text:before {
    content: "";
    position: absolute;
    top: -24px;
    right: 0;
    border: 15px solid transparent;
    border-top: 15px solid #d2d2d2;
    transform: rotateZ(180deg);
  }
  .info-text:hover .info-text {
    display: inline-block;
    top: 30px;
    left: 0px;
  }
  .open {
    display: inline-block;
  }
}

/* Catch */

.catch {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto 2rem;
  .col-2,
  .col-8 {
    padding: 0;
  }
  img {
    height: auto;
    width: 60%;
    max-width: 18rem;
    margin-bottom: 2rem;
  }
  .beat-list {
    text-align: center;
    cursor: pointer;
    .logo {
      background-color: #fff;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      padding: 8px;
      margin: 0 auto;
      .circle {
        position: absolute;
        width: 8px;
        height: 8px;
        border: solid 2px $background-color;
        border-radius: 50%;
      }
    }
    .txt {
      color: $font-color;
      margin: 0;
      span {
        display: inline-block;
      }
    }
  }
}

/* StartBattle */

.startbattle {
  display: flex;
  align-items: baseline;
  margin: 0rem 1rem 2rem;
  .startbutton {
    padding: 1rem 0;
    margin-bottom: 1rem;
  }
}

/* BeatCheck */

.beatcheck {
}

/* About */

.modal-body {
  h5 {
    color: $font-color;
    margin-bottom: 1rem;
    &:first-child {
      margin-top: 1rem;
    }
  }
  p {
    margin: 0 1rem 2rem;
    &:not(:last-child) {
      padding-bottom: 2rem;
      border-bottom: 1px solid $background-color;
    }
    span {
      padding: 0.1rem;
      border-radius: 0.1rem;
      color: $font-color;
      background-color: $background-color;
    }
  }
}
/* ------------ */
/* MatchingPage */
/* ------------ */
.matchingpage {
  .battle-ttl {
    text-align: center;
    margin: 4rem 0;
  }
  .share-buttons img {
    height: 3rem;
    margin: 5rem 0 6rem;
  }
}

/* svgの色を変えたい */
/* .share-buttons:nth-child(1) {
  color: #3b5998;
}
.share-buttons {
  fill: #3b5998;
} */

/* -------------- */
/*   BattlePage   */
/* -------------- */

.battlepage {
  .wrapper {
    max-height: 50vh;
    max-width: 100vw;
    .opponentVideo {
      height: 50vh;
      width: 100%;
      background-color: black;
    }
    .myVideo {
      height: 50vh;
      width: 100%;
      background-color: black;
    }
  }
}

/* md以上 */

@media screen and (min-width: 768px) {
  /* キャッチコピーの上下の余白を広く */
  .catchcopy {
    margin-bottom: 3rem;
    img {
      margin-bottom: 3rem;
    }
  }
  /* SNSのロゴの上下の余白を広く */
  .share-buttons img {
    margin: 7rem 0 8rem;
  }
  /* テキストを中央に寄せる */
  .battle-text {
    width: 540px;
    margin: 0 auto;
  }
}

/* lg以上 */

@media screen and (min-width: 992px) {
  /* ヘッダーの下の余白を広く */
  .header {
    margin-bottom: 6rem;
  }
  /* キャッチコピーのフォントサイズを大きく */
  .catchcopy h2 {
    font-size: 2.1rem;
  }
  /* バトルを始めるボタンの下の余白を広く */
  .startbutton {
    margin-bottom: 3rem;
  }
  /* 映像を横並びにする */
  .battlepage {
    display: flex;
    .wrapper {
      max-width: 100vw;
      max-height: 100vh;
      .opponentVideo {
        height: 100vh;
        width: 50vw;
      }
      .myVideo {
        height: 100vh;
        width: 50vw;
      }
    }
  }
}
