@charset "UTF-8";
/* ----------------- */
/* 全体共通のスタイル */
/* ----------------- */
/* .btn-primaryの色を変更 */
.btn-primary {
  background: #1f2124;
  color: #fff;
  border-color: #fff;
}

.btn-primary:hover {
  background: #fff;
  color: #1f2124;
  border-color: #fff;
}

body {
  background: #1f2124;
  overflow-x: hidden;
}

/* ----------- */
/*   TopPage   */
/* ----------- */
/* Header */
.header {
  margin-bottom: 2rem;
  background-color: #216b1d;
  height: 3rem;
  padding: 0 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header .point {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header .point .logo {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #216b1d;
  text-align: center;
  line-height: 1rem;
  font-size: 0.8rem;
  height: 1rem;
  width: 1rem;
  background-color: #fff;
  border-radius: 4px;
}

.header .point p {
  color: #fff;
  padding-left: 2px;
  line-height: 1rem;
  margin: 0;
}

.header .title {
  margin: 0;
  color: #fff;
}

.header .info-btn {
  font-size: 1rem;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: none;
  line-height: 0;
  background-color: #fff;
}

.header .info-text {
  display: none;
  position: absolute;
  top: 3rem;
  right: 3rem;
  padding: 0.5rem;
  font-size: 12px;
  line-height: 1.6em;
  color: #fff;
  border-radius: 5px;
  background: #9e9e9e;
  width: 240px;
  z-index: 1;
  color: #1f2124;
}

.header .info-text .ttl {
  text-align: center;
}

.header .info-text:before {
  content: "";
  position: absolute;
  top: -24px;
  right: 0;
  border: 15px solid transparent;
  border-top: 15px solid #9e9e9e;
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
}

.header .info-text:hover .info-text {
  display: inline-block;
  top: 30px;
  left: 0px;
}

.header .open {
  display: inline-block;
}

/* Catch */
.catch {
  text-align: center;
  margin-bottom: 2rem;
}

.catch img {
  height: auto;
  width: 60%;
  max-width: 18rem;
  margin-bottom: 2rem;
}

.catch h2 {
  font-size: 1.8rem;
  line-height: 2.5rem;
  margin: auto;
  text-align: center;
}

.catch h2 span {
  display: inline-block;
}

/* StartBattle */
.startbattle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0rem 1rem 2rem;
}

.startbattle .startbutton {
  padding: 1rem 0;
  margin-bottom: 1rem;
}

/* BeatCheck */
.beatcheck {
  margin-bottom: 0.5rem;
}

/* About */
.modal-body h5 {
  color: #fff;
  margin-bottom: 1rem;
}

.modal-body h5:first-child {
  margin-top: 1rem;
}

.modal-body p {
  margin: 0 1rem 2rem;
}

.modal-body p:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: 1px solid #1f2124;
}

.modal-body p span {
  padding: 0.1rem;
  border-radius: 0.1rem;
  color: #fff;
  background-color: #1f2124;
}

/* ------------ */
/* MatchingPage */
/* ------------ */
.matchingpage .battle-ttl {
  text-align: center;
  margin: 4rem 0;
}

.matchingpage .share-buttons img {
  height: 3rem;
  margin: 5rem 0 6rem;
}

/* svgの色を変えたい */
/* .share-buttons:nth-child(1) {
  color: #3b5998;
}
.share-buttons {
  fill: #3b5998;
} */
/* -------------- */
/*   BattlePage   */
/* -------------- */
.battlepage .wrapper {
  max-height: 50vh;
  max-width: 100vw;
}

.battlepage .wrapper .opponentVideo {
  height: 50vh;
  width: 100%;
  background-color: black;
}

.battlepage .wrapper .myVideo {
  height: 50vh;
  width: 100%;
  background-color: black;
}

/* md以上 */
@media screen and (min-width: 768px) {
  /* キャッチコピーの上下の余白を広く */
  .catchcopy {
    margin-bottom: 3rem;
  }
  .catchcopy img {
    margin-bottom: 3rem;
  }
  /* SNSのロゴの上下の余白を広く */
  .share-buttons img {
    margin: 7rem 0 8rem;
  }
  /* テキストを中央に寄せる */
  .battle-text {
    width: 540px;
    margin: 0 auto;
  }
}

/* lg以上 */
@media screen and (min-width: 992px) {
  /* ヘッダーの下の余白を広く */
  .header {
    margin-bottom: 6rem;
  }
  /* キャッチコピーのフォントサイズを大きく */
  .catchcopy h2 {
    font-size: 2.1rem;
  }
  /* バトルを始めるボタンの下の余白を広く */
  .startbutton {
    margin-bottom: 3rem;
  }
  /* 映像を横並びにする */
  .battlepage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .battlepage .wrapper {
    max-width: 100vw;
    max-height: 100vh;
  }
  .battlepage .wrapper .opponentVideo {
    height: 100vh;
    width: 50vw;
  }
  .battlepage .wrapper .myVideo {
    height: 100vh;
    width: 50vw;
  }
}
/*# sourceMappingURL=style.css.map */